<nav>
    <img width="150px" src="https://media.istockphoto.com/id/509244022/photo/mens-leather-wallet-isolated-on-white-background.jpg?s=2048x2048&w=is&k=20&c=97un8Z0642epRlcs-zsGFqK_2igST54WSNi_yGjpzdg=" alt="">
    <a href="/">Home</a>
    <a href="/Create">Create </a>


</nav>