<%- include("partials/header")%>
<%- include("partials/nav")%>

 <form action="/save" method="post">
    <input type="text" name="" placeholder="Enter your Name">
    <input type="email" name="" placeholder="Enter your Email">
    <input type="password" name="" placeholder="Enter your Password">
    <button>Create User</button>

 </form>


<%- include("partials/footer")%>